
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {  
    scroll-behavior: smooth;  
}


/* banner */

#banner {
    background-image: linear-gradient(to left, rgba(150, 112, 112, 0.253), rgba(0, 0, 0, 0.73)), url(../images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    position: relative;
}

.title-container {
    width: 400px;
    color: #FFFFFF;
    position: absolute;
    top: 20%;
    left: 5%;
}

.title {
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 15px;
}

.sub-title {
    font-weight: 400;
    font-size: 20px;
    margin-top: 20px;
}

.divider {
    width: 240px;
}

/* footer */

#container {
    color: #FFFFFF;
    background-color: black;
    height: 50px;
    align-items: center;
    padding: 0 40px;
}
#right {
    text-align: end;
}
#center {
    text-align: center;
}
.anchor {
    color: white;
    text-decoration-line: underline;
    padding: 0 20px;
}
.anchor:hover {
    color: white;
}
p {
    margin-bottom: -0.3rem;
}

@media(max-width: 900px) {
    .anchor {
        padding: 0 5px;
    }
}

@media(max-width: 740px) {
    #container {
    padding: 0 20px;
}
}

@media(max-width: 620px) {
    #container {
        padding: 0 10px;
    }
}


/* nav-bar */

.menu {
    height: 80px;
}

#menu-bar {
    list-style-type: none;
    color: gray;
    height: 50px;
    font-weight: 500;
    font-size: 20px;
    background-color: white;
    z-index: 100;
}

.list-one {
    border-bottom: 4px solid rgb(24, 24, 153);
    padding-bottom: 28px;
    width: 33%;
    text-align: center;
}

.list-two {
    border-bottom: 4px solid rgb(24, 24, 153);
    padding-bottom: 28px;
    width: 33%;
    text-align: center;
}

.list-three {
    border-bottom: 4px solid rgb(24, 24, 153);
    padding-bottom: 28px;
    width: 33%;
    text-align: center;
}

.content {
    padding: 16px;
  }
  

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  
  .sticky + .content {
    padding-top: 60px;
  }

  nav {
    position: sticky;
    top: 0;
    background-color: #eef0f1;
    z-index: 100;
    }
nav .container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    }
nav .container ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    }

nav .container ul li a {
    text-decoration: none;
    padding: 10px 20px;
    color: rgb(78, 78, 78);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    }
nav .container ul li.active {
    background-color:  rgb(168, 168, 243);
    border-radius: 5px;
    transition: 0.3s;
    }
nav .container ul li.active a {
    color: rgb(18, 18, 119);
    }
@media(max-width: 1200px) {
    .titleA {
        display: none;
    }
    #section {
        flex-direction: column;
    }
    .titleB {
        display: block;
    }
}

@media(max-width: 450px) {
    nav .container ul li a {
        font-size: 15px;
    }
}

/* section 1 */

.section-1 {
    display: flex;
    justify-content: space-around;
    background-color: rgb(243, 243, 243);
    padding-top: 60px;
    padding-bottom: 60px;
}

.titleB {
    display: none;
}

a {
    text-decoration: none;
    color: gray;
}

.td-main {
    color: gray;
}

tr, td {
    text-align: left;
    padding: 8px;
}


@media(max-width: 1180px) {
     .titleB {
       display: block;
   }
}

@media(max-width: 735px) {
   .col img {
       width: 350px;
   }
}

/* section 2 */

.section-2 {
    background-color: rgb(243, 243, 243);
    padding-left: 30px;
}

#sec-2 {
    margin-bottom: 30px;
    padding-top: 40px;
}

.date-1 {
    display: flex;
    align-items: baseline;
}

.date {
    color: rgb(24, 24, 153);
    font-size: 30px;
}


/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 70px;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: rgb(190, 190, 190);
    top: 0;
    bottom: 0;
    left: -30px;
    margin-left: -3px;
  }
  
  /* Container around content */
  .cont {
    padding: 10px;
    position: relative;
    background-color: inherit;
  }
  
  /* The circles on the timeline */
  .cont::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    left: -36px;
    background-color: rgb(190, 190, 190);
    border: 4px solid rgb(190, 190, 190);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
 
  /* Place the container to the right */
  .right {
    left: 50%;
  }
 
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    display: flex;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media (max-width: 1270px) {
    .timeline {
      max-width: 1000px;
    }
  }
  @media (max-width: 1100px) {
    .timeline {
      max-width: 800px;
    }
  }
  @media (max-width: 860px) {
    .timeline {
      max-width: 600px;
    }
  }
  @media (max-width: 660px) {
    .timeline {
      max-width: 400px;
    }
  }

  @media (max-width: 600px) {
    .timeline {
      max-width: 300px;
    }
  }

  @media (max-width: 500px) {
    .timeline {
      max-width: 200px;
    }
  }
  
 #article-1 {
    display: none;
}
#article-2 {
    display: none;
}
#article-3 {
    display: none;
}
#article-4 {
    display: none;
}
 
#anc-1 {
    color: rgb(18, 18, 119);
    font-weight: 600;
    font-size: 20px;
}

#anc-2 {
    color: rgb(18, 18, 119);
    font-weight: 600;
    font-size: 20px;
}

#anc-3 {
    color: rgb(18, 18, 119);
    font-weight: 600;
    font-size: 20px;
}

#anc-4 {
    color: rgb(18, 18, 119);
    font-weight: 600;
    font-size: 20px;
}

.date {
    font-size: 15px;
    color: black;
}

#arrow1 {
    color: rgb(18, 18, 119); 
    font-size: 50px; 
    font-family: emoji; 
    margin-top: -25px; 
    margin-left: 10px;
}

#arrow2 {
    color: rgb(18, 18, 119); 
    font-size: 50px; 
    font-family: emoji; 
    margin-top: -25px; 
    margin-left: 10px;
}

#arrow3 {
    color: rgb(18, 18, 119); 
    font-size: 50px; 
    font-family: emoji; 
    margin-top: -25px; 
    margin-left: 10px;
}

#arrow4 {
    color: rgb(18, 18, 119); 
    font-size: 50px; 
    font-family: emoji; 
    margin-top: -25px; 
    margin-left: 10px;
}
